<div id='doc_header'>
  <h2><%= @doc.name %></h2>
  <span class='tags'>
    <i class="glyphicon glyphicon-tag"></i>
    <%= generate_tag_list(@doc.tags).html_safe %>
  </span>
</div>
<div id='doc_content'><%= @doc.content.html_safe %></div>

<div class='doc_operations'>
<%= link_to "<i class='glyphicon glyphicon-pencil'></i> Edit".html_safe, edit_doc_path(@doc), class: 'btn btn-primary' %>

<%= link_to "<i class='glyphicon glyphicon-trash'></i> Delete".html_safe, @doc, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
</div>