<div id='doc'>
  <div id='doc_header'>
    <h2><%= @doc.name %></h2>
    <%= render 'docs/doc_metadata', doc: @doc %>
  </div>

  <%= render 'doc_content', doc: @doc %>
  <%= render 'doc_operations', doc: @doc %>
  <%= render 'doc_history', doc: @doc %>
</div>